.container{
    width:700px ;
    margin: auto;
    margin-top: 100px;
   
    padding: 50px;
    border-radius: 10px;
    background-color: #fff;
    box-shadow: 4px 3px 13px grey;
}
h1{
    text-align: center;
}

input{
    margin: 35px 0px;
    padding: 10px 20px;
    font-size: 18px;
    border: 2px solid rgba(75, 75, 214, 0.845);
    border-radius: 5px;
    width: 77%;
}

.subBtn{
    padding: 10px 25px;
    font-size: 18px;
    border-radius: 5px;
    background:rgba(56, 56, 214, 0.388);;
    border: none;
}

.clearBtn button{
    
    background-color: #fff;
    outline: none;
    border: none;
    color: red;
}

.clearBtn{
    text-align: center;
}
ul{
    margin-right: 30px;
}

li{
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
    flex: 1;
}
.buttons{
    display: flex;
    gap: 5px;
}

.delBtn{

    border: none;
    border-radius: 4px;
}
.editBtn{
  

    border: none;
    border-radius: 4px;
}

